input[type=text] {
    width:  200px;
    height: 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 550px;
}

input[type=text1] {
    width:  550px;
    height: 30px;
    -webkit-transition: height 0.4s ease-in-out;
    transition: height 0.4s ease-in-out;
    word-break: break-word;
}

/* When the input field gets focus, change its width to 100% */
input[type=text1]:focus {
    height: 250px;
}

html, body {
    height: 100%;
    width: 750px;
}

html {
    display: table;
    margin: auto;
    font-family: 'Questrial', sans-serif;
}

.gdlogo {
    color: rgba(255,255,255,0.05);
    opacity: 0.5;
    bottom: 100vh;
    }

.complogo{
    position: relative;
    top: 0em;
    left:0px;
    width:100px;height:100px;
}

.compname{
    position: relative;
    top: 0em;
    left:0px;
    width:100px;height:100px;
    font-family: 'Questrial', sans-serif;
}


div[type=centering] {
    position: relative;
    display: table-cell;
    width: 100%;
    margin: auto;
}

.contenring {
    position: relative;
    display: table-cell;
    width: 100%;
    margin: auto;
}

.centering2{
    width: 50%;
    left:50%;
    margin: auto;
}

textarea { 
    font-size: 20px; 
}

form {
  text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius:3px;
    box-shadow:0px 0px 10px 0px #424242;
    padding:3px;
    background-color: #0000e6;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #003366;
}

