#loginform
{
   width:450px;
   height:225px;
   margin-top:10px;
   background-color:#4da6ff;
   border-radius:3px;
   box-shadow:0px 0px 10px 0px #424242;
   padding:10px;
   text-align: center;
   box-sizing:border-box;
   font-family:helvetica;
   visibility:hidden;
   display:none;
}
#loginform #close_login
{
   position: relative;
   width:20px;
   height:20px;
   align: right;
   left: 200px;
}
#loginform p
{
   margin-top:30px;
   font-size:22px;
   color:#E6E6E6;
   text-align: center;
}
#loginform #login
{
   width:250px;
   height:40px;
   border:2px solid silver;
   border-radius:3px;
   padding:5px;
}
#loginform #password
{
   margin-top:5px;
   width:250px;
   height:40px;
   border:2px solid silver;
   border-radius:3px;
   padding:5px;
}
#loginform #dologin
{
   margin-left:-5px;
   margin-top:10px;
   width:250px;
   height:40px;
   border:none;
   border-radius:3px;
   color:#E6E6E6;
   background-color:grey;
   font-size:20px;
}